<{{# buttonTag }}button{{/ buttonTag }}{{# linkTag }}a href="{{ url }}"{{/ linkTag }} class="c-btn {{ styleModifier }}" {{# buttonTitle}}title="{{ buttonTitle }}"{{/ buttonTitle}}{{# buttonIsToggle }} data-btn-icon-swap="{{ iconPath }}{{ buttonIconSwap }}"{{/ buttonIsToggle }}>

    <div class="c-btn__inner">

        {{#if buttonIcon }}
        <svg class="c-btn__icon {{#if buttonIsToggle }}js-btn-icon{{/ if }}">
            <use href="{{ iconPath }}#{{ buttonIcon }}"></use>
        </svg>
        {{/ if }}

        {{#if buttonText }}
        {{ buttonText }}
        {{/ if }}

    </div><!--end c-btn__inner-->

</{{# buttonTag }}button{{/ buttonTag }}{{# linkTag }}a{{/ linkTag }}><!-- end c-btn -->
